.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#disp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 500px;
}

#display {
  text-align: center;
}

.drum-pad {
  padding: 20px;
  width: 100px;
  height: 100px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drum-pad:hover {
  box-shadow: none;
  transition: 0.5s;
}

.active {
  box-shadow: none;
}